.footer {
    width: 100%;
    padding: 16px 12px 28px;
    text-align: center;
    color: var(--text-secondary);
}

.footer-text {
    display: inline-block;
    margin-right: 6px;
    font-size: 0.95rem;
}

.footer-link {
    color: var(--form-font-primary);
    font-weight: 700;
    transition: 0.2s ease;
}

.footer-link:hover {
    color: var(--form-font-secondary);
    text-decoration: underline;
}