.fields-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 0 25px rgba(0, 255, 100, 0.12);
    gap: 24px;
    width: 90%;
    max-width: 480px;
    box-sizing: border-box;
}

.fields-form-logo-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fields-form-logo {
    width: 200px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.fields-form-input {
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 18px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid #333;
    background-color: #222;
    color: #ffffff;
    outline: none;
    transition: all 0.3s ease;
}

.fields-form-input::placeholder {
    color: #777;
}

.fields-form-input:focus {
    border-color: #00ff64;
    box-shadow: 0 0 10px rgba(0, 255, 100, 0.1);
}

input[list]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}